.leftnav {
    background-color: #55BDCA;
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.leftnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}
  
  /* Change the color of links on hover */
.leftnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.leftnav a.active {
    background-color: #F27D42;
    color: white;
}

.rightnav {
  background-color: #55BDCA;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.rightnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 20px;
}

/* Change the color of links on hover */
.rightnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.rightnav a.login {
  background-color: #C8EFF9;
  color: rgb(0, 0, 0);
}

.rightnav a.register {
  background-color: #F27D42;
  color: white;
}

.bar {
  background-color: #022449;
  color: #f2f2f2;
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
}

.background {
  background-color: #C8EFF9;
}

.ChooseAlgo {
  font-size: 40px;
}

.btnDiv {
  justify-content: center;
  border-radius: 20px;
  background-color: #022449;
  height: 75px;
  width: 900px;
  color: white;
  font-size: 30px;
}