.background {
  background-color: #C8EFF9;
}

.ChooseAlgo {
  font-size: 40px;
}

.btnDiv {
  justify-content: center;
  border-radius: 20px;
  background-color: #022449;
  height: 75px;
  width: 900px;
  color: white;
  font-size: 30px;
}